data/
.vscode/
__pycache__/
.DS_Store
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.env
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.whl
.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.ipynb_checkpoints
*.vscode/
*.pytest_cache/
*.mypy_cache/
*.coverage
.coverage.*
htmlcov/
*.cover

CLAUDE.md

